nav {
    .navbar-header {
      width: 100%;
      height: min-content;
      button, .navbar-brand {
        transition: opacity 0.15s;
      }
      button {
        margin-right: 0;
      }
      button:hover, .navbar-brand:hover {
        opacity: 0.8;
      }
    }
  }

.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
    background: $navbarColor !important;
    border: none;
    a {
      color: rgb(233, 199, 210) !important;
    }
  }

body {
    margin-top: 50px;
}
